<!--<form (ngSubmit)="onSubmit()" novalidate>
    <label for="id">ID:</label>
    <input type="number" id="id" [(ngModel)]="newPokemon.id" name="id" required>
  
    <label for="name">Nom:</label>
    <input type="text" id="name" [(ngModel)]="newPokemon.name" name="name" required>
  
    <label for="hp">HP:</label>
    <input type="number" id="hp" [(ngModel)]="newPokemon.hp" name="hp" required>

    <label for="cp">CP:</label>
    <input type="number" id="cp" [(ngModel)]="newPokemon.cp" name="cp" required>

    <label for="picture">Lien de l'image:</label>
    <input type="url" id="picture" [(ngModel)]="newPokemon.picture" name="picture" required>
 
    <label>Types:</label>
    <div *ngFor="let type of types">
      <input type="checkbox" id="{{ type }}" [(ngModel)]="newPokemon.types[type]" name="types" (change)="updateTypeCount()">
      <label for="{{ type }}">{{ type }}</label>
    </div>
    
    <div *ngIf="typeCountError" class="error-message">Veuillez sélectionner 1 à 2 types.</div>
  
    <button type="submit">Ajouter Pokémon</button>
  </form>-->