<div class=" header bg-danger pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 text-white d-inline-block mb-0">Ngx Datatables</h6>

          <nav
            aria-label="breadcrumb"
            class=" d-none d-md-inline-block ml-md-4"
          >
            <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
              <li class=" breadcrumb-item">
                <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
              </li>

              <li class=" breadcrumb-item">
                <a href="javascript:void(0)"> Tables </a>
              </li>

              <li aria-current="page" class=" breadcrumb-item active">
                Ngx Datatables
              </li>
            </ol>
          </nav>
        </div>

        <div class="col-md-4">
          <button class="btn btn-block btn-default" (click)="open()">
            Ajouter un Pokemon
          </button> <!-- Debut fenetre modal -->
          <ng-template #addPokemonModal let-c="close" let-d="dismiss">
            <div class="modal-content">
              <div class="modal-body p-0">
                <div class="card bg-secondary shadow border-0">
                  <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                      <small>Veuillez fournir les informations du nouveau Pokemon</small>
                    </div>
                    <form role="form">
                      <div class="form-group mb-3">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-bullet-list-67"></i></span>
                          </div>
                          <input class="form-control" placeholder="ID (entier)" type="number" [(ngModel)]="newPokemon.id">
                        </div>
                      </div>
                      <div class="form-group mb-3">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-user-run"></i></span>
                          </div>
                          <input class="form-control" placeholder="Nom (max. 30 caractères)" type="text" maxlength="30" [(ngModel)]="newPokemon.name">
                        </div>
                      </div>
                      <div class="form-group mb-3">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-chart-bar-32"></i></span>
                          </div>
                          <input class="form-control" placeholder="HP (0 à 50)" type="number" min="0" max="50" [(ngModel)]="newPokemon.hp">
                        </div>
                      </div>
                      <div class="form-group mb-3">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-chart-pie-35"></i></span>
                          </div>
                          <input class="form-control" placeholder="CP (0 à 10)" type="number" min="0" max="10" [(ngModel)]="newPokemon.cp">
                        </div>
                      </div>
                      <div class="form-group mb-3">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-image"></i></span>
                          </div>
                          <input class="form-control" placeholder="Image (lien)" type="url" [(ngModel)]="newPokemon.picture">
                        </div>
                      </div>
                      <div class="form-group mb-3">
                        <label for="pokemonTypes">Types :</label>
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" id="typeFeu" type="checkbox" [(ngModel)]="newPokemon.types">
                          <label class="custom-control-label" for="typeFeu">Feu</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" id="typeEau" type="checkbox" [(ngModel)]="newPokemon.types">
                          <label class="custom-control-label" for="typeEau">Eau</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" id="typePlante" type="checkbox" [(ngModel)]="newPokemon.types">
                          <label class="custom-control-label" for="typePlante">Plante</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" id="typeNormal" type="checkbox" [(ngModel)]="newPokemon.types">
                          <label class="custom-control-label" for="typeNormal">Normal</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" id="typeVol" type="checkbox" [(ngModel)]="newPokemon.types">
                          <label class="custom-control-label" for="typeVol">Vol</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" id="typeCombat" type="checkbox" [(ngModel)]="newPokemon.types">
                          <label class="custom-control-label" for="typeCombat">Combat</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" id="typeInsecte" type="checkbox" [(ngModel)]="newPokemon.types">
                          <label class="custom-control-label" for="typeInsecte">Insecte</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" id="typeElectrique" type="checkbox" [(ngModel)]="newPokemon.types">
                          <label class="custom-control-label" for="typeElectrique">Electrique</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" id="typePoison" type="checkbox" [(ngModel)]="newPokemon.types">
                          <label class="custom-control-label" for="typePoison">Poison</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" id="typeFee" type="checkbox" [(ngModel)]="newPokemon.types">
                          <label class="custom-control-label" for="typeFee">Fée</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" id="typePsy" type="checkbox" [(ngModel)]="newPokemon.types">
                          <label class="custom-control-label" for="typePsy">Psy</label>
                        </div>
                      </div>
                      <div class="text-center">
                        <button type="button" class="btn btn-primary my-4" (click)="addPokemon()">Ajouter</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div> <!-- Fin fenetre modal -->
      </div>
      </div>
    </div>
  </div>

<div class=" container-fluid mt--6">
  <div class=" row">
    <div class=" col">
      <div class=" card">
        <div class=" card-header">
          <h3 class=" mb-0">Ngx Datatables</h3>

          <p class=" text-sm mb-0">
            This is an exmaple of datatable using the well known ngx-datatable
            plugin. This is a minimal setup in order to get started fast.
          </p>
        </div>
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
            </div>
            <div class="col-sm-12 col-md-6">
            </div>
          </div>

          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="entries != -1 ? entries : undefined"
            [rows]="temp"
            (activate)="onActivate($event)"
          >
            <ngx-datatable-column name="Id">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.id }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Name"></ngx-datatable-column>
            <ngx-datatable-column name="HP"></ngx-datatable-column>
            <ngx-datatable-column name="CP"></ngx-datatable-column>
            <ngx-datatable-column name="Picture">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <img [src]="row.picture" alt="Pokemon Image" style="max-height: 50px; max-width: 50px;">
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Types">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div *ngFor="let type of row.types" [ngClass]="{'type-circle': true}" [ngStyle]="getTypeColor(type)">
                  {{ type }}
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>